$zIndex = 10

.slideSidebar-enter-active,
.slideSidebar-leave-active
  transition transform .4s
.slideSidebar-enter,
.slideSidebar-leave-active
  transform translateX(-100%) // - 24em

#layout
  display flex

$sidebar()
  @media (max-width: 800px)
    position absolute
    z-index $zIndex
  width 220px


#sidebar, #main
  height 100vh

#main
  // !!!
  // min-width: 375px;
  flex 1
  width 100%
  overflow hidden
  background #f7f7f7

#sidebar
  $sidebar()
  padding-top 3em
  background $header
  color $header_text

  nav
    padding 1em
  a
    display block
    padding .5em 0
    &:hover
      color #2196f3
    svg
      vertical-align: bottom //middle
      fill currentColor;



#topNav
  position fixed
  top 0
  left 0
  width 100%
  z-index $zIndex + 1
  height 44px
  background #777
  display flex
  justify-content space-between
  align-items center
  padding-right 6px

#burger
  display flex
  &:hover polyline
    fill yellow
  svg
    margin auto
    cursor pointer
    user-select none
