
.Card
.list-Card
  background #FFF
  margin 1em
  box-shadow: 0 1px 8px rgba(#000, .25);

// panel
// area
// header
// content
// actions


.list-Card
  li,a
    padding 0 1em
    line-height: 2.4
    border-top 1px solid rgba(#CCC, .3)
    textOW()
    &:hover
      background #f9f9f9
      color #477dca - 30
    &.selected
      color #000
    &.active
      background: #f3f4f5
      color #000
  //as a
  li
    cursor: pointer
    color #477dca
  a
    display block
    text-decoration none


.divActions
  display: flex;
  //justify-content: space-between;
  justify-content flex-end
  padding: 1em;
  .btn + .btn
    margin-left: 1em
