.Card
  margin 1rem

.Card
.listNav_Card
  background #FFF
  box-shadow: 0 1px 8px rgba(#000, .25);

// panel
// area
// header
// content
// actions

.listNav
.listNav_Card
  // display inline-grid
  li,a
    padding 0 1em
    line-height: 2.4
    border-top 1px solid rgba(#CCC, .3)
    textOW()
    &:hover
      background #f9f9f9
      color #477dca - 30
    &.selected
      color #000
    &.active
      background: #f3f4f5
      color #000
  //as a
  li
    cursor: pointer
    color #477dca
  a
    display block
    text-decoration none



.Card_form
  border-radius 0.3em
  padding 1.6em
  display flex
  flex-direction column
  input
    margin-bottom 1em
