//== helperS ==

//helper-el
legend
  padding 0 .3em
fieldset
  border 1px solid #dee2e6
  padding 1em //1.4em 1.4em
  margin 1em 0
  @media (max-width: 400px)
    padding 0
    border 0
    border-top 1px solid #dee2e6
    legend
      margin-left: 2em;
label
  user-select none
  cursor pointer
  white-space nowrap
  display inline-table



//grouped_form_EL


.form-group
  display flex
  flex-direction column
  //!FIXME

  >*
    // width 240px
    margin-bottom 1em
  label
    display grid


.field
  position relative
  font-family: 'Roboto Condensed', sans-serif;
  display flex
  flex-direction column
  margin-bottom: 1rem
  // line-height 1.4
  .error
    position absolute
    top 100%
    font-size 0.8rem
    color #ed5565
    // line-height 1.2
    &:before
      position absolute
      top 0
      left -1.4em
      content: '😳'
      font-size 1rem

  .is-invalid
    border-color #ed5565 !important



.form-line
  user-select none
  margin .3em
  &+&
    margin-top .7em
  //.btn, button, input, select
  & > *
    margin .35em
  label
    white-space: nowrap
    padding-right .7em



.button-group
  $shadow_button()
  display inline-flex
  background #FFF
  border-radius .3em
  .btn
    // height: 2.5em; //fix h100%
    border-color: transparent;
    box-shadow none
    border-radius 0
    &:first-child
      border-radius .3em 0 0 .3em
    &:last-child
      border-radius 0 .3em .3em 0
  .btn + .btn
    border-left 1px solid #dee2e6 //rgba(#FFF, .3)
