$border-input =  #bdc3c7

//== helperS ==
.form-group
  display flex
  flex-direction column
  //!FIXME
  >*
    width 240px
    margin-bottom 1em
.checked-group
  label
    display block

.form-line
  user-select none
  margin -.3em
  &+&
    margin-top .7em
  .btn, button, input, select
    margin .35em
  label
    white-space: nowrap
    padding-right .7em


//helper-el
fieldset
  border 1px solid #EEE
  padding 1em 1.4em 1.4em
  margin 1em 0
legend
  padding 0 .3em
label
  user-select none
  cursor pointer
  white-space nowrap
  display inline-table

input[type=color]
  height: 3em;
  vertical-align: middle;
  background: transparent;
  border: 0



//========== BASE form_EL ===============

//FF fix
button::-moz-focus-inner
  border: 0
select:not([multiple]):-moz-focusring
  color: transparent;
  text-shadow: 0 0 0 #000;

.disabled
[disabled]
  //cursor wait !important
  pointer-events none
  // background #EEE !important
  // color #999 !important
  // border-color transparent !important
  opacity .5

$size_Mod()
  &.sm
    font-size .6rem
  &.lg
    font-size 1rem
  &.xl
    font-size 1.2rem

$base_form_el_size()
  line-height: 1.15
  padding .6em 1em
input, .btn, button, select, textarea
  //font: inherit
  font-size .8rem
  $size_Mod()
  outline: 0

//input box-shadow
select
input:not([type="range"]):not([type="color"]):not([type=reset]):not([type=submit])
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)

.select, select:not([multiple]),
textarea,
.btn, button,
input:not([type=color]):not([type=range]):not([type=radio]):not([type=checkbox])
  $base_form_el_size()
  border-radius .3em



.select, select,
textarea,
input:not([type=color]):not([type=range]):not([type=radio]):not([type=checkbox]):not([type=reset]):not([type=submit])

  border: 1px solid $border-input
  &:focus
    border-radius: 0
    border-top-color: $link
    box-shadow: 0 2px 6px rgba($link, .3), 0 0 10px rgba(#000,.1);


$select()
  appearance: none
  cursor: pointer
  background #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='12'><polygon points='0,0 12,0 6,12' fill='orange'/></svg>") 100% no-repeat;
  padding-right 2em //for icon
select:not([multiple]),
.select
  $select()
select[multiple]
  cursor: pointer
  padding .2em
  option
    padding .2em
    padding-left .8em
    &:first-child
      background #EFEFEF


.Search
  padding-left: 2.4em !important;
  background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='13'><g stroke-width='2' stroke='blueviolet'><circle cx='5' cy='5'  r='4' style='fill:none;' /><line x1='9' y1='9' x2='13' y2='13' /></g></svg>") 1em 50% no-repeat




// ====== button / button-group ===============
$shadow()
  // box-shadow: 0 2px 5px 0 rgba(#000, .2), 0 1px 10px 2px rgba(#444, .2)
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)

$fill_Mod()
  &.fill
    &.lite
      color: $link
      background: snow
      &:hover
        background whitesmoke
    &.red
      background: $red
      &:hover
        background $red + 20%
    &.green
      background: $green
      &:hover
        background $green + 20
    &.orange
      background $orange
      &:hover
        background $orange + 20% //#eea236 - 10

$outline_Mod()
  &.outline
    border-color: currentColor
    background: snow
    color #999
    &:hover
      color #FFF !important
      border-color: transparent
      background #607d8b
    &.blue
      color $blue
      &:hover
        background: $blue
    &.red
      color $red
      &:hover
        background: $red
    &.green
      color $green
      &:hover
        background: $green
    &.orange
      color $orange
      &:hover
        background: $orange

.btn
  display inline-block
  white-space nowrap
  text-decoration none
input[type="button"]
input[type="reset"]
input[type="submit"]
button
.btn
  $shadow()
  border: 1px solid transparent
  cursor: pointer
  user-select: none
  transition: background 0.3s
  //default
  background: $blue
  color: #FFF
  &:active
    transform: translateY(2px)
  &:hover
    background $blue + 20

.btn
  $fill_Mod()
  $outline_Mod()
  $size_Mod()


.button-group
  display inline-flex
  margin: 0.35em
  $shadow()
  border-radius .3em
  .btn
    border-color: transparent;
    box-shadow none
    border-radius 0
    &:first-child
      border-radius .3em 0 0 .3em
    &:last-child
      border-radius 0 .3em .3em 0

  .btn + .btn
    border-left 1px solid #dee2e6 //rgba(#FFF, .3)



// ====== chekbox / radio ===============
$clr = #2196f3;
$size = 20px
input[type="checkbox"],
input[type="radio"]
  //reset base input
  padding 0
  border: 2px solid $clr

  appearance: none;
  cursor pointer
  height: $size
  width: $size !important

  vertical-align: sub //text-top
  margin: 0 .5em
  &:checked
    background $clr
    animation bounce 0.3s
@keyframes bounce
  0%,100%
    transform: scale(1);
  50%
    transform: scale(0.7);
//checked: background-image
input[type=checkbox]
  border-radius: .2em
  &:checked
    background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke-width='3' stroke='white' d='M3,7 L7,11 L13,4'/></svg>")
input[type=radio]
  border-radius: 50%
  &:checked
    background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><circle cx='8' cy='8' r='4' fill='white'/></svg>")
