//Grid !TODO
.col
  flex 1
$MW = 600px
@media (min-width: $MW)
  .Flex_wr
    display flex
    flex-wrap: wrap
    // flex-direction: row
    // align-content: flex-start
  .col
    margin .5rem
  .w_25
    flex 2.5
  .w_75
    flex 7.5
  .w_50
    flex 5



// .items-start
//   align-items: flex-start


.Row
  display flex
  &.start
    justify-content: flex-start
  &.end
    justify-content: flex-end
  &.center
    justify-content: center
