//Grid !TODO
.col
  flex 1
$MW = 600px

.Flex_wr
  margin-bottom 1em
@media (min-width: $MW)
  .Flex_wr
    display flex
    flex-wrap: wrap
    // flex-direction: row
    // align-content: flex-start
  .col
    margin .5rem
  .w_25
    flex 2.5
  .w_75
    flex 7.5
  .w_50
    flex 5



// .items-start
//   align-items: flex-start


.flex
  display flex
  &.x_start
    justify-content: flex-start
  &.x_end
    justify-content: flex-end
  &.x_center
    justify-content: center
  &.x_sb
    justify-content space-between
  &.y_center
    align-items center
