// hr
//   border: 0
//   border-top: .1rem solid color-tertiary
//   margin: 3.0rem 0


pre
  padding 1em
  background #f1f1f1

hr
  margin: 1em 0;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(#777, .5);

  //border-top: 1px dashed $orange //violet
  &.H1
    margin 5em 3em 4em
    text-align: center
    overflow: visible
    border 0
    background-image: linear-gradient(to right, rgba(#000, 0), rgba(violet 0.75), rgba(#000, 0));
    &:after
      content: "§";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.5em;
      padding: 0 0.25em;
      background: white;

.Tag
  font-family: monospace;
  //font-weight normal
  background: aliceblue;
  padding: .3em;
  margin: 1em 0;
  &:before
    content '[ '
  &:after
    content ' ]'
  &:before
  &:after
    color blue


.Accordion
  overflow: hidden
  // box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
  box-shadow: 0 0.2em 1.4em 0 rgba(#000, .3);
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  // box-shadow 0 .2em 2em -.1em rgba(#000, 0.4)
  // border-top 1px solid #efefef
  // border-bottom: 2px solid #efefef


// ul.Card li
// nav.Card a
.Card
  background #FFF
  margin 1em
  //display inline-block
  box-shadow 0 .2em 1.4em 0 rgba(0, 0, 0, 0.2)

  >*
    padding 0 1em
    line-height: 2.4
    border-top 1px solid rgba(#CCC, .3)
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    &:hover
      background #f9f9f9
      color #477dca - 30
    &.selected
      color #000
    &.active
      background: #f3f4f5
      color #000
  >li
    cursor: pointer
    color #477dca
  >a
    display block
    text-decoration none
/*
.Card
  >*
    padding .6em 1em
    border-top 1px solid rgba(#CCC, .3)
    cursor pointer
    &:hover
      background #efefef
      color #445e98
    &.active
      //cursor default
      background: #f3f4f5
      color #445e98
  //nav
  >a
    display block
    text-decoration none
*/


.Search-hasReset
  position relative
.Search_Reset
  cursor pointer
  position absolute
  top 50%
  transform translateY(-50%)
  left 12px
  width 20px
  height 20px
  border-radius 50%
  background #2196f3 url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><g stroke='white' stroke-width='4' stroke-linecap='round'><line x1='3' y1='3' x2='17' y2='17'/><line x1='3' y1='17' x2='17' y2='3'/></g></svg>") center/50% no-repeat
  &:hover
    background-color #ed5565
