.scrollableArea
  height: 100%
  overflow-y: auto
  /* хром, сафари */
  &::-webkit-scrollbar { width: 0; }
  /* ie 10+ */
  & { -ms-overflow-style: none; }

//Grid !TODO
.col
  flex 1
$MW = 600px
@media (min-width: $MW)
  .flex-row
    display flex
    flex-wrap: wrap
  .col
    margin-left 1em
  .w_1-4
    flex 2.5
  .w_3-4
    flex 7.5
  .w_1-2
    flex 5

.items-start
  align-items: flex-start
