@charset "UTF-8"
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic')

// font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$red = #ed5565
$green = #26a69a
$blue = #3498db
$orange = #ff9800

$link = #477dca
$_border = #dee2e6
$header = #3c4858

*
  margin 0
  padding 0
  box-sizing border-box

body
  font 100%/1.4 'Roboto', 'Helvetica Neue', sans-serif;
  color #34495e
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased


.Wrap
  padding: 4em 1em 1em
  margin: auto;
  max-width: 1200px;
.MainFullWidth
  margin: 4em 1em 1em



a, .link
  color: $link
.link
  text-decoration underline

@import '_Form'
@import '_Table'
@import '_List'

@import '_Card'
@import '_Helper'
@import '_Utility'


.H1,h1,h2,h3,h4,h5
  line-height 1
  margin 0 0 1em
h1,h2
  color $header
  font-weight: 400
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
p
  margin-bottom .75em


